.sigterm-container{
    background: rgba(166, 226, 45, 0.2);
    border-color: rgb(166, 226, 45);
    padding: 0.25em 0.35em;
    margin: 0px 0.25em;
    line-height: 1;
    border-radius: 0.25em;
    border: 1px solid;
}

.sigterm-body{
    background: rgba(166, 226, 45, 0.1);
    border-radius: 0.25em;
    border: 1px solid;
    
}