.example{
    font-size: 2em;
    border-color: rgb(166, 226, 45);
    padding: 0.25em 0.35em;
    margin: 0px 0.25em;
    line-height: 1;
    border-radius: 0.25em;
    border: 1px solid;

}

.classification-button-row{
    border-color: rgba(166, 226, 45,0.25);
    border-width: 2px;
    border-style: dotted;
    
}

.mlt-button{
    border-color: rgba(166, 226, 45,0.25);
    border-width: 2px;
    border-style: dotted;
    
}