.sigterm{
    padding: 0.25em 0.35em;
    margin: 0.25em;
    border-radius: 0.25em;
    border: 1px solid;
    cursor: pointer;
    font-size: 1.5em;
}

.sigterm-body{
    border: 1px solid;
    height: calc(95vh); 

    width: 100%;

    
}
.sigterms-status {
    word-wrap: normal
}